* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    Helvetica Neue,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.white_header {
  background-color: white;
}
.bg-green {
  background-color: rgb(20, 67, 44);
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
  align-items: center;
}
.meta-logo {
  height: 30px;
}
.WA-logo {
  height: 30px;
}
