* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    Helvetica Neue,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.white_header {
  height: 54px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1440px;
}
.bg-green {
  background-color: #103928;
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
  align-items: center;
}
.meta-logo {
  height: 34px;
  margin: 0 24px;
}
.WA-logo {
  height: 30px;
  padding-right: 7em;
  padding-left: 30px;
}
.green_header {
  height: 120px;
  margin: 0 auto;
  max-width: 1440px;
}
.nav {
  gap: 5em;
  margin-right: 80px;
}
.wrap {
  gap: 0.5em;
}
.btn {
  background-color: #43cd66;
  color: #103928;
  width: 180px;
  height: 63px;
  border-radius: 50px;
  justify-content: center;
}
.search-bar {
  width: 47px;
  height: 47px;
  aspect-ratio: 1/1;
  margin-right: 0.7em;
  justify-content: center;
}
.white-btn {
  background-color: white;
  width: 200px;
  border: 1px solid #43cd66;
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 56px;
}
.footer-top__logo {
  height: 30px;
}
.footer__divider {
  margin-block: 55px;
}
